
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Frequent Sign In Form A Responsive Widget Template :: w3layouts</title>
<!-- Meta tag Keywords -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Frequent Sign In Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
<script type="application/x-javascript">
	addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
	function hideURLbar(){ window.scrollTo(0,1); }
</script>
<!-- Meta tag Keywords -->
<!-- css files -->
<link rel="stylesheet" href="../static/css/font-awesome.css"> <!-- Font-Awesome-Icons-CSS -->
<link rel="stylesheet" href="../static/css/style.css" type="text/css" media="all" /> <!-- Style-CSS -->
<!-- //css files -->
<!-- web-fonts -->
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700" rel="stylesheet">
<!-- //web-fonts -->
<script src="../static/js/jquery-3.2.1.min.js" type="text/javascript" charset="UTF-8"></script>
<script type="text/javascript" src="../static/js/bootstrap.min.js" charset="UTF-8"></script>

</head>
<body>
<div class="banner-overlay-agileinfo">
		<!--header-->
		<div class="header-w3l">
			<h1>Disaster Preparedness Management System</h1>
		</div>
		<!--//header-->
		<!--main-->
		<div class="main-w3layouts-agileinfo">
	           <!--form-stars-here-->
						<div class="wthree-form">
							<h2>Sign in to your account</h2>
							<form action="/login" method="post" id="login">
								<div class="form-sub-w3">
									<input type="text" name="user" placeholder="Username " required="" />
									<div class="icon-w3">
										<i class="fa fa-user" aria-hidden="true"></i>
									</div>
								</div>

								<div class="form-sub-w3">
									<input type="password" name="pwd" placeholder="Password" required="" />

									<div class="icon-w3">
										<i class="fa fa-unlock-alt" aria-hidden="true"></i>

									</div>
								</div>
									&nbsp;&nbsp;<span style="color:red">{{ss }} </span>

								<div align="center" style="color:red">
								<input type="radio" name="peo" value="adm">用户&nbsp;&nbsp;
								<input type="radio" name="peo" value="sadm">管理员&nbsp;&nbsp;
								<br>
								 <span> {{ error2 }} </span>
								</div>

								<div class="clear"></div>

								<div class="submit-agileits">
									<input type="submit" value="Sign in">
								</div>
							</form>

						</div>
				<!--//form-ends-here-->

		</div>
		<!--//main-->
		<!--footer-->
		<div class="footer">
			<p>&copy; &copy; 2019 Disaster Preparedness Management System Sign In Form. All rights reserved | Design by ZGH</p>
		</div>
		<!--//footer-->
	</div>
</body>
</html>