<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/add/" method="post">
    <table align="center" border="1px">
        <tr>
            <td>flow-id</td>
            <td>
                <input type="text" name="name" placeholder="name">
            </td>
        </tr>
       <tr>
            <td>priority</td>
            <td>
                <input type="text" name="priority" placeholder="priority">
            </td>
        </tr>
        <tr>
            <td>ethernet_type</td>
            <td>
                <input type="text" name="ethernet_type" placeholder="ethernet_type">
            </td>
        </tr>
           <tr>
            <td>ipv4_source</td>
            <td>
                <input type="text" name="ipv4_source" placeholder="ipv4_source">
            </td>
        </tr>
        <tr>
            <td>ipv4_destination</td>
            <td>
                <input type="text" name="ipv4_destination" placeholder="ipv4_source">
            </td>
        </tr>
        <tr>
            <td>action</td>
            <td>
                <input type="text" name="action" placeholder="action">
            </td>
        </tr>
        <tr>
            <td>output</td>
            <td>
                <input type="text" name="output" placeholder="output">
            </td>
        </tr>
        <tr>
            <td>
                <button  type="submit"  >确认</button>

            </td>
            <td>
                <button id="cancel" type="button" >取消</button>
            </td>
        </tr>
    </table>

</form>
</body>
</html>